<div class="container" style="padding-top: 60px" align="center">
    <div class="card border-primary mb-3" style="max-width: 20rem; border-width: 1px">
        <h4 class="card-header text-primary">Please sign in</h4>
        <div class="card-body text-primary">
            <form class="form-signin">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="loginEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="loginPassword" class="form-control" placeholder="Password" required>
                <a id="loginButton" class="btn btn-lg btn-block btn-primary" href="#">Sign in</a>
                <a id="createAccountButton" class="btn btn-sm btn-block btn-outline-info" href="#">Create Account</a>
            </form>
        </div>
    </div>
</div>
