<div class="container" style="padding-top: 60px" align="center">
    <div class="card border-danger mb-3" style="max-width: 30rem; border-width: 2px">
        <div class="card-body text-danger">
            <h1>Please sign in</h1>
            <hr class="bg-danger">
            <p class="lead">This is a restricted site that requires you to sign in!</p>
        </div>
    </div>
</div>
