<div class="container" style="padding-top: 60px" align="center">
    <div class="card border-info mb-3" style="border-width: 2px; max-width: 30rem;">
        <div class="card-body">
            <a href="#" class="btn btn-info">Triggered</a>
        </div>
    </div>
</div>